.topBar {
  position: sticky;
  /* height: auto; */
  /* z-index: 1; */
  background-color: hsla(0,0%,100%,.05);
  border-bottom: 1px solid #eaeaf1;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.showArrow{
  display: none
}
@media screen and (max-width: 576px) {
  .showArrow{
    display: block;
  }
}
